# Question 2: Debt prediction

# A)

In [3]:
# reading the data from the link given
import pandas as pd

df = pd.DataFrame()
df  = pd.read_csv("https://github.com/mpourhoma/CS4661/raw/master/Credit.csv")

# B)

In [4]:
# printing first few rows
df.head()

    Income  Limit  Rating  Cards  Age  Education  Married  Balance
0   14.891   3606     283      2   34         11        1      333
1  106.025   6645     483      3   82         15        1      903
2  104.593   7075     514      4   71         11        0      580
3  148.924   9504     681      3   36         11        0      964
4   55.882   4897     357      2   68         16        1      331

# C)

In [5]:
from sklearn.model_selection import train_test_split
from sklearn import preprocessing

feature_cols=['Income','Limit','Rating','Cards','Age','Education','Married']
X = df[feature_cols]
y= df['Balance']

X= preprocessing.scale(X)

In [6]:
# The following line will import LinearRegression "Class"

from sklearn.linear_model import LinearRegression

# D)

In [8]:
# Splitting the dataset into testing and training:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.24, random_state=9)

# E)

In [9]:
# In the following line, "my_linreg" is instantiated as an "object" of LinearRegression "class". 

my_linreg = LinearRegression()

# fitting the model to the training data:
my_linreg.fit(X_train, y_train)

LinearRegression()

In [10]:
# printing Theta0 using attribute "intercept_":
print(my_linreg.intercept_)

# printing [Theta1, Theta2, Theta3] using attribute "coef_":
print(my_linreg.coef_)

520.0391034603759
[-264.69553256  360.5601294   252.73642988   24.91707959  -17.23897686
   11.65810466   -9.82859046]

### most important feature is Limit and least important feature is Income

# F)

In [11]:
# make predictions on the testing set
y_prediction = my_linreg.predict(X_test)

print(y_prediction)

[ 316.89813114  677.5093907   489.03669272  -49.82989971  706.42913216
  864.96954115  897.65752581  108.20297732 -213.73474279  834.94198677
   11.05109139 -227.34447869  472.01450822    4.54554458 -228.17349827
  956.21537845  896.91570524  821.97824267   18.37144232  857.31517013
 1028.30326279  699.22168497 1176.9426756   666.28578465  643.94064891
  690.63628696  589.35273903  -29.37237394  575.15444917  406.78468032
  845.81453327  828.30862904   82.2376206   953.40592514 -184.74828227
  525.84335889 1045.19205022  535.04104472  107.26753118 -172.8968111
  497.84037664 1155.35533939  429.08674601  403.49872552  143.72087313
  764.78737012  431.24114308 1304.79656588  475.00132057   95.75404622
 -215.69000296    5.62900657  313.88797405  859.9328932   792.27147016
 1029.90210771 1500.40180297 1078.48617624  713.37981473 1072.97948262
  -64.12187718  488.60063387   92.3601712   440.414465    277.13284667
 1075.41508762  258.10181743  773.89657462  278.12447916  409.51029492
  335.56674013  989.87781589  978.31940615 1042.6230052   915.82319179
  150.95645254  516.7089988   733.47654088   74.84330655  556.47429962
 1096.60831626  359.12494251  204.54562103  407.76115868  113.50656023
  958.07237887  934.59051997    2.98452112 1627.80317193  636.31395153
  688.17824441  711.80910955  293.66354104 -219.28997401  -91.76701391
 -149.31642723]

In [12]:
# calculating RMSE
from sklearn import metrics
import numpy as np

# Calculating "Mean Square Error" (MSE):
mse = metrics.mean_squared_error(y_test, y_prediction)

# Using numpy sqrt function to take the square root and calculate "Root Mean Square Error" (RMSE)
rmse = np.sqrt(mse)

print(rmse)

143.24649739642274

# G)

In [13]:
feature_new=['Income','Limit','Rating','Cards','Age','Education','Married']
X = df[feature_new]
y= df['Balance']

In [14]:
# importing the method:
from sklearn.model_selection import cross_val_score

# Applying 10-fold cross validation with "linear regression":

# In the following line, "my_linreg" is instantiated as an "object" of LinearRegression "class". 
my_linreg = LinearRegression()

mse_list = cross_val_score(my_linreg, X, y, cv=10, scoring='neg_mean_squared_error')

print(mse_list)

[-23646.90415342 -32003.04401232 -35462.64435619 -37327.60719635
 -14341.32205938 -33628.37104224 -31631.99317834 -12491.00334951
 -20749.61212176 -23204.9474346 ]

In [15]:
# Notice that "cross_val_score" by default provides "negative" values for "mse" to clarify that mse is error.
# in order to calculate root mean square error (rmse), we have to make them positive!
mse_list_positive = -mse_list

# using numpy sqrt function to calculate rmse:
rmse_list = np.sqrt(mse_list_positive)
print(rmse_list)

[153.7754992  178.89394627 188.31527914 193.20353826 119.75525901
 183.38039983 177.85385343 111.76315739 144.04725656 152.331702  ]

In [16]:
# calculate the average RMSE as final result of cross validation:
print(rmse_list.mean())

160.33198910744073